div.table{
    position: relative;
    width: 302px;
    height: 830px;
    left: 1380px;
    top: 0px;
    
    background: #E1E1E1;
    box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.11);}

h1.row{
position: relative;
font-size: 30px;
left: 1410px;
top: 0.1px;
cursor:pointer;
}

text.row{
    cursor:pointer;
}

h1.dificuldade{
position: fixed;
width: 302px;
height: 59.21px;
left: 1465px;
top: 53.29px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.035em;

color: #000000;
}


button.fácil{position: fixed;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    width: 304px;
    height: 56.25px;
    left: 1388px;
    top: 117.00px;
    background-color:transparent;
    border: 0;}

button.médio{position: fixed;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Lato';
    font-style: normal;
    width: 304px;
    height: 56.25px;
    left: 1388px;
    top: 172.10px;
    background-color: transparent;
    border:0}

button.difícil{position: fixed;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Lato';
    font-style: normal;
    width: 304px;
    height: 56.25px;
    left: 1388px;
    top: 226.97px;
    background-color:transparent;
    border:0}

h1.modo{
position: fixed;
width: 302px;
height: 59.21px;
left: 1465px;
top: 311.84px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.035em;

color: #000000;
}

button.modo{
font-weight: 400;
font-size: 25px;
line-height: 30px;
font-family: 'Lato';
font-style: normal;
position: fixed;
width: 227px;
height: 63px;
left: 1435px;
top: 390.98px;
box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.11);
background: #1DA83C;
border-color:#E1E1E1;
border-radius:12px;
}


button:hover{
    background:rgba(128, 128, 128, 0.18);
}