*{
    position: relative;
}

.page {
    width: 100%;
    min-height: 100vh;
    padding: 32px 0px;
    background-color: #d9dbd4;
    display: flex;
    align-items: center;
    gap: 42px;
    flex-direction: column;
}
